<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    집중력 측정하기!! <a href="/scoring/addform">[ADD]</a> <br/>
    <div th:each="scoring : ${scoring}">
        <span th:text="${scoring.id}"></span>
        <a th:href="@{/scoring/{id}(id=${scoring.id})}"><span
                th:text="${scoring.content}"></span></a><br/>
        시작시간: <span th:text="${scoring.start}">시</span><br/>
        종료시간:<span th:text="${scoring.end}">시</span><br/>
        <a th:href="@{/scoring/delete/{id}(id=${scoring.id})}">삭제</a>
        <a th:href="@{/scoring/updateForm/{id}(id=${scoring.id})}">수정</a>
    </div>
</body>
</html>