<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Scoring Search</title>
</head>
<body>
<h2>Scoring 검색</h2>
<form action="/scoring/search" method="get">
  <label for="content">Content:</label>
  <input type="text" id="content" name="content" required />
  <input type="submit" value="검색" />
</form>

<h3>검색 결과</h3>
<div th:if="${scoringResults}">
  <ul>
    <li th:each="scoring : ${scoringResults}">
      <p th:text="'Content: ' + ${scoring.content}"></p>
      <p th:text="'Start: ' + ${scoring.start}"></p>
      <p th:text="'End: ' + ${scoring.end}"></p>
    </li>
  </ul>
</div>
</body>
</html>
